[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = '3.6'

[packages]

requests = "*"
cssselect = "*"
lxml = "*"
blessings = "*"
arrow = "*"

[dev-packages]

pytest = "*"
coverage = "*"
coveralls = "*"
pep8 = "*"
twine = "*"
